body {
  background-color: #0091fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

main {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container div input {
  height: 2rem;
  width: 11rem;
  border-radius: 7px;
  margin-bottom: .6rem;
}

button {
  width: 8rem;
  height: 2rem;
  margin-top: .6rem;
  border-radius: 15px;
  text-align: center;
}

#result {
  font-size: 24px;
}

section {
  text-align: center;
}